.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 24px;
  border-radius: 128px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    background: #383838;
  }
}

@media (prefers-color-scheme: dark) {
  .link {
    background: #ededed;
    color: #000;
  }

  .link:hover {
    background: #ccc;
  }
}
